In [1]:
from pandas_datareader import data as pdr
import datetime as dt
import pandas as pd
import yfinance as yf 
import numpy as np

In [2]:
yf.pdr_override()

In [3]:
end = dt.datetime.now()
start = dt.datetime(2020,1,1)

In [4]:
stockList = ['FSR', 'SBK','NED','ABG' ]
stocks = ['^J580.JO'] + [i + '.JO' for i in stockList]
stocks

['^J580.JO', 'FSR.JO', 'SBK.JO', 'NED.JO', 'ABG.JO']

In [5]:
df = pdr.get_data_yahoo(stocks, start, end)
df

[*********************100%%**********************]  5 of 5 completed

               Adj Close                                           \
                  ABG.JO       FSR.JO        NED.JO        SBK.JO
Date
2020-01-02  12049.065430  5255.483887  17123.453125  13252.410156
2020-01-03  11962.709961  5177.377930  16984.896484  13129.936523
2020-01-06  11622.882812  4989.593750  16654.253906  12827.674805
2020-01-07  11320.636719  5018.676270  16767.617188  12837.879883
2020-01-08  11430.181641  5015.352539  16518.058594  12903.828125
...                  ...          ...           ...           ...
2023-10-20  16890.000000  5995.000000  19920.000000  18506.000000
2023-10-23  17117.000000  6082.000000  20073.000000  18648.000000
2023-10-24  17096.000000  6060.000000  20058.000000  18717.000000
2023-10-25  16877.000000  6139.000000  19870.000000  18456.000000
2023-10-26  16613.000000  6035.000000  19532.000000  18069.000000

                            Close                                          \
                ^J580.JO   ABG.JO  FSR.JO   NED.JO   SBK.JO      ^J580.JO
Date
2020-01-02  39640.441406  15069.0  6325.0  21751.0  16880.0  39640.441406
2020-01-03  39426.648438  14961.0  6231.0  21575.0  16724.0  39426.648438
2020-01-06  38629.718750  14536.0  6005.0  21155.0  16339.0  38629.718750
2020-01-07  38737.531250  14158.0  6040.0  21299.0  16352.0  38737.531250
2020-01-08  38678.070312  14295.0  6036.0  20982.0  16436.0  38678.070312
...                  ...      ...     ...      ...      ...           ...
2023-10-20  37861.589844  16890.0  5995.0  19920.0  18506.0  37861.589844
2023-10-23  38169.718750  17117.0  6082.0  20073.0  18648.0  38169.718750
2023-10-24  38250.949219  17096.0  6060.0  20058.0  18717.0  38250.949219
2023-10-25  38119.800781  16877.0  6139.0  19870.0  18456.0  38119.800781
2023-10-26  37416.269531  16613.0  6035.0  19532.0  18069.0  37416.269531

            ...     Open                                           Volume  \
            ...   ABG.JO  FSR.JO   NED.JO   SBK.JO      ^J580.JO   ABG.JO
Date        ...
2020-01-02  ...  15085.0  6337.0  21666.0  16751.0  39353.621094   942921
2020-01-03  ...  14850.0  6300.0  21878.0  16755.0  39640.441406  1394666
2020-01-06  ...  15000.0  6222.0  21181.0  16738.0  39426.648438  1185720
2020-01-07  ...  14700.0  6098.0  21300.0  16600.0  38629.718750  5625419
2020-01-08  ...  14149.0  6000.0  21500.0  16334.0  38737.531250  3584756
...         ...      ...     ...      ...      ...           ...      ...
2023-10-20  ...  17150.0  6025.0  20114.0  18880.0  38558.339844  1645890
2023-10-23  ...  16890.0  6000.0  20100.0  18520.0  37861.589844  1250891
2023-10-24  ...  17624.0  6095.0  20250.0  18701.0  38169.718750  1105959
2023-10-25  ...  17600.0  6050.0  20200.0  18690.0  38250.949219  1802820
2023-10-26  ...  17000.0  6110.0  19869.0  18245.0  37885.320312   151983


              FSR.JO   NED.JO   SBK.JO ^J580.JO
Date
2020-01-02   3508816   767049  1453039      0.0
2020-01-03   7700073   786639  2341878      0.0
2020-01-06   8897085   804064  1451390      0.0
2020-01-07   6382266   977568  2400298      0.0
2020-01-08   5006209  1126668  1602391      0.0
...              ...      ...      ...      ...
2023-10-20   9840158  1149407  3370570      0.0
2023-10-23  10773580  1160291  2263376      0.0
2023-10-24  10388333   808678  1492885      0.0
2023-10-25  14878554   946460  2510720      0.0
2023-10-26   1543875   102346   148388      0.0

[957 rows x 30 columns]

In [6]:
log_returns = np.log(df.Close / df.Close.shift(1)).dropna()
log_returns.head()

              ABG.JO    FSR.JO    NED.JO    SBK.JO  ^J580.JO
Date
2020-01-03 -0.007193 -0.014973 -0.008124 -0.009285 -0.005408
2020-01-06 -0.028818 -0.036944 -0.019659 -0.023290 -0.020420
2020-01-07 -0.026348  0.005812  0.006784  0.000795  0.002787
2020-01-08  0.009630 -0.000662 -0.014995  0.005124 -0.001536
2020-01-09  0.009954  0.004958  0.005608 -0.001035  0.001046

In [26]:
def calc_beta(df):
    np_array = df.values
    m = np_array[:,4]
    beta = []
    for ind, col in enumerate(df): 
        if ind < 4:
            s = np_array[:,ind]
            covariance = np.cov(s,m)
            beta.append( covariance[0,1]/covariance[1,1] )
    
    return pd.Series(beta, df.columns[:4], name = 'Beta')

In [29]:
beta = calc_beta(log_returns)
beta

ABG.JO    1.247710
FSR.JO    1.182343
NED.JO    1.338495
SBK.JO    1.200972
Name: Beta, dtype: float64

In [41]:
units = np. array([200, 50, 350, 250,])

JSE_fin_prices = df.Close[-1:].values.tolist()[0]
price_cents = np.array([round(price,2) for price in JSE_fin_prices[1:]])
price_rands = price_cents/100
value = units*price_rands
weight = [round(val/sum(value),2) for val in value]
beta = round(beta, 2)

In [42]:
port = pd.DataFrame({
    'Stock': stockList,
    'Type': 'Shares',
    'Price':  price_rands,
    'NO. shares': units,
    'Value': value,
    'Weights': weight,
    'Beta': beta,
    'Weighted Beta': weight*beta,
})

In [43]:
port

,Stock,Type,Price,NO. shares,Value,Weights,Beta,Weighted Beta
ABG.JO,FSR,Shares,60.3500,200,12070.000,0.07,1.25,0.0875
FSR.JO,SBK,Shares,195.3200,50,9766.000,0.05,1.18,0.0590
NED.JO,NED,Shares,180.6900,350,63241.500,0.35,1.34,0.4690
SBK.JO,ABG,Shares,374.1627,250,93540.675,0.52,1.20,0.6240